.input {
  border: 1px solid black;
}

.form {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: start;
}

.select {
  width: 200px;
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

.select-value {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid black;
}
.options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid black;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}
.select.open .options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.option {
  background-color: white;
  position: relative;
  display: block;
  cursor: pointer;
}
.option:hover {
  background-color: lightgrey;
}
.option.selected {
  color: #ffffff;
  background-color: blue;
}
.arrow {
  position: relative;
  margin-right: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.button {
  border: 1px solid black;
  padding: 6px;
  background-color: rgb(235, 235, 235);
  margin-top: 10px;
}
